<!--header-->
<header class="head" role="banner">
  <!--wrap-->
  <div class="wrap clearfix">
    <%= link_to image_tag('ico/logo.png', :alt => 'RecipeLa logo'), root_path, :class => "logo", :title => "RecipeLa" %>
    
    <nav class="main-nav" role="navigation" id="menu">
      <ul>
        <li class="<%= 'current-menu-item' if current_page?(root_path) %>">
          <%= link_to root_path, :title => "Home" do %>
            <span>Home</span>
          <% end %>
        </li>
        <li>
          <%= link_to recipes_path, :title => "Recipes" do %>
          <span>Recipes</span>
          <% end %>
        </li>
      </ul>
    </nav>
    
    <nav class="user-nav" role="navigation">
      <ul>
        <li class="light"><a href="find_recipe.html" title="Search for recipes"><i class="ico i-search"></i> <span>Search recipes</span></a></li>
        <li class="medium"><a href="my_profile.html" title="My account"><i class="ico i-account"></i> <span>My account</span></a></li>
        <li class="dark"><a href="submit_recipe.html" title="Submit a recipe"><i class="ico i-submitrecipe"></i> <span>Submit a recipe</span></a></li>
      </ul>
    </nav>
  </div>
  <!--//wrap-->
</header>
<!--//header-->